.blue-bg-primary{
    background-color: #289BDE;
}
.blue-text-primary{
   color:  #289BDE; 
}
.my-image{
    filter: brightness(50%);
}
.color-bg-light{
    background-color: #F4FAFD;
}
.icon-warning{
    color:goldenrod;
}
.icon-light{
    color:white
}
.black-bg-dark{
    background-color: black;
    height: 500px;
}